@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans';
    background-color: rgb(245, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.card{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.card--smAi{
    background-color: hsl(256, 67%, 59%);
    grid-column: 2/4;
    width: 980px;
    height: 410px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.card--smAi h2, p{
    font-size: 90px;
    font-weight: 500;
    color:hsl(0, 0%, 100%);
    line-height: 80px;
}
.five--star{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    padding-bottom: 50px;
}
strong{
    font-size: 100px;
    font-weight: 400;
    color: hsl(39, 100%, 71%);
}
.stars{
    width: 280px;
    padding-top: 20px;
}
.card--createWrite{
    grid-column: 1;
    grid-row: 1/5;
    width: 470px;
    height: 1280px;
}
.card--create{
    background-color: hsl(31, 66%, 93%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 550px;
}
.card--create p{
    line-height:50px;
    color: hsl(0, 0%, 7%);
    padding: 50px 55px 25px;
    font-weight: 500;
    font-size: 50px;
}
#quick{
    font-size: 50px;
    font-weight: 500;
    color: hsl(256, 67%, 59%);
}
.createPost{
    width: 350px;
    align-self: start;
    padding-left: 55px;
    padding-bottom: 50px;
}
.card--write{
    background-color: hsl(39, 100%, 71%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 705px;
}
.card--write p{
    font-size: 70px;
    line-height: 60px;
    color: hsl(0, 0%, 7%);
    padding: 45px 55px;
    font-weight: 500;
}

.card--write img{
    width: 350px;
    padding-bottom: 40px;
}

.card--socialM{
    background-color: hsl(254, 88%, 90%);
    grid-column: 4;
    grid-row: 1/3;
    width: 400px;
    height: 850px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card--socialM p{
    color: hsl(0, 0%, 7%);
    font-size: 43px;
    font-weight: 550;
    width: 250px;
    margin: 50px 70px 30px;
    line-height: 40px;
}
#p--sm{
    font-weight: 500;
    font-size: 24px;
    margin: 30px 70px 15px;
    line-height: 33px;
}
.card--socialM img{
    margin-left: 70px;
    width: 520px;
}
.card--manage-maintain{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    width: 980px;
    gap: 30px;
    height: 420px;
}
.card--manage{
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    overflow: hidden;
}
.card--manage img{
    width: 630px;
    padding: 25px;
}
.card--manage p{
    color:hsl(0, 0%, 7%);
    font-size: 60px;
    font-weight: 500;
    line-height: 55px;
    margin: 0 25px;
}
.card--maintain{
    width: 50%;
    overflow: hidden;
    background-color: hsl(39, 100%, 71%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.card--maintain p{
    color:hsl(0, 0%, 7%);
    font-size: 55px;
    font-weight: 500;
    line-height: 50px;
    margin: 40px 50px 20px;
}
.card--maintain img{
    width: 350px;
    align-self: center;
}
.card--fastAudience{
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    width: 475px;
    background-color: hsl(0, 0%, 100%);
    height: 390px;
    border-radius: 15px;
    padding: 50px 40px 30px;
}
.card--fastAudience p{
    color:hsl(0, 0%, 7%) ;
    line-height: 60px;
}
.card--fast{
    font-size: 30px;
    margin: 25px;
}
.card--fastAudience img{
    width: 340px;
}
.card--followers{
    grid-column: 3/5;
    grid-row: 3;
    display: flex;
    gap: 50px;
    width: 900px;
    background-color: hsl(256, 67%, 59%);
    height: 390px;
    border-radius: 15px;
    padding: 50px 40px 30px;
}
.card--followers p{
    font-size: 60px;
    line-height: 50px;
    align-self: center;
}


@media (min-width:681px) and (max-width:1440px){
    .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 30px;
    width: 70%;
    margin-bottom: 50px;
    }
    .card--smAi{
    grid-column: 1/3;
    grid-row: 1;
    width: 85%;
    height: 300px;
    }
    .card--smAi h2, p{
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    }
    strong{
    font-size: 50px;
    }
    .five--star{
    font-size: 20px;
    font-weight: 300;
    }
    .stars{
    width: 170px;
    }
    .card--manage-maintain{
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    width: 85%;
    gap: 30px;
    height: 250px;
    }
    .card--manage img{
    width: 400px;
    padding: 25px;
    }
    .card--manage p{
    font-size: 30px;
    font-weight:500;
    line-height: 30px;
    margin: 0 25px;
    }
    .card--maintain p{
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin: 25px 25px 10px;
    }
    .card--maintain img{
    width: 230px;
    height: 160px;
    align-self: start;
    margin-left: 25px;
    }

    .card--socialM{
    grid-column: 1/3;
    grid-row: 3;
    width: 85%;
    height: 500px;
    }
    .card--socialM p{
    width: 50%;
    font-size: 25px;
    font-weight: 500;
    margin: 25px 30% 15px;
    }
    #p--sm{
    font-weight: 400;
    font-size: 19px;
    align-self: center;
    margin: 15px 30% 25px;
    text-align: center;
    line-height: 18px;
    }
    .card--socialM img{
    width: 375px;
    margin: 0 auto;
    }

    .card--followers{
    grid-column: 1/3;
    grid-row: 4;
    display: flex;
    flex: 1;
    gap: 50px;
    width: 85%;
    border-radius: 15px;
    padding: 20px 80px;
    height: 250px;
    }
    .card--followers img{
        width: 300px;
        object-fit: contain;
    }
    .card--followers p{
    width: 50%;
    font-size: 40px;
    line-height: 35px;
    align-self: center;
    }
    .card--fastAudience{
    grid-column: 1/3;
    grid-row: 5;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    padding: 50px 40px 30px;
    height: 150px;
    }
    .card--fastAudience p{
    line-height: 30px;
    font-weight: 500;
    }
    .card--fast{
    font-size: 20px;
    margin-left: 0;
    }
    .card--fastAudience img{
    width: 170px;
    }
    .card--createWrite{
    grid-column: 1/3;
    grid-row: 6;
    width: 85%;
    display: flex;
    flex: 1;
    gap: 30px;
    height: 360px;
    }
    .card--create{
    width: 50%;
    padding-left: 25px;
    align-items: start;
    justify-content: center;
    height: 360px;
    }
    .card--create p{
    padding-left: 0%;
    line-height: 25px;
    font-size: 30px;
    font-weight: 500;
    }
    #quick{
    font-size: 30px;
    font-weight: 500;
    color: hsl(256, 67%, 59%);
    }
    .createPost{
    width: 200px;
    padding-bottom: 50px;
    }
    .card--write{
    width: 50%;
    height: 360px;
    }
    .card--write p{
    font-size: 40px;
    line-height: 30px;
    font-weight: 500;
    padding: 25px;
    }
    .card--write img{
    width: 250px;
    padding-left: 25px;
    align-self: self-start;
    }
    
}